@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,200);
body {
  background-color: #F6F8E2;
  font-family: 'Raleway', sans-serif;
}
#headerBar {
  background-color: #8E9E82;
  color: #f1f4d5;
}
#headerBar h3 {
  display: inline-block;
  font-size: 4rem;
  margin: 1.2rem 0 1rem 2rem;
  font-weight: bold;
}
#headerBar p {
  float: right;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 3rem;
  border-left: 1px solid;
}
